.card-text{
   font-size: 15px; 
   color: black;
}

.pag-dinosaurio{
   font-size: 35px;
   color: black;
}

.dinosa:hover{
   transform: scale(1.2);
   transition: 1s;
}

.card{
   margin-bottom: 20px;
   margin-top: 20px;
}
 
.fondodino{
   background-image: url(../image/fondodino.jpg);
}
