@import url("https://fonts.googleapis.com/css2? familia= Montserrat:peso@400;502 &family= Roboto:wght@300 & display=swap");


.Letras {
    font-size: 30px;
    color: black;
}
  
@mixin valor($width, $height){
    width: $width;
    height: $height;
}

.card-text{
    font-size: 30px;
}

.nuevoingreso{
    color: black;
}