body{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    min-height: 100vh;
    background-image: url(../image/fondojugueteria.jpg);
    background-repeat: no-repeat;
  }

  nav{
    list-style-type: none;

       ul{
        color: black;

            li{
               font-size: 20px;
            }
       }
  }

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 7px 7px 7px 7px; 
    padding: 10px;
    border: 3px;
}

.fondoinicio{
  background-image: url(../image/fondoinicio.jpg);
}

.carrousel{
  padding: 10px;
}

.section{
  margin-bottom: 10px;

}

