@import "fuentes";
@import "index";
@import "variables";
@import "dinosaurios";


* {
  padding: 0;
  margin: 0;
}

.titulos{
  font-size: 40px;
  color: black;
}

.fondoNav {
  background-color: $navHeader;
}

.Autos:hover {
  transform: scale(1.2);
  transition: 1s;
}

.peluche:hover{
  transform: scale(1.2);
  transition: 1s;
}

.card:hover{
  transform: scale(1.2);
  transition: 1s;
}


a {
  text-decoration: none;
  color: rgb(249, 249, 249);
}

.fondoautos{
  background-image: url(../image/fondoauto.jpg);

}

.fondomesa{
  background-image: url(../image/fondojuegomesa.jpg);
  
}

.fondobici{
  background-image: url(../image/fondobici.jpg);
}

.fondobebe{
  background-image: url(../image/fondobebe.jpg);
}

.libros1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fondolibro{
  background-image: url(../image/fondolibro.jpg);
}

.formulario {
  display: flex;
  justify-content: space-around;
  margin: 1%;
  padding: 2%;
  border: 15px black solid;
}

img {
  border: 7px solid #3a3548;
  width: 351px;
  height: 315px;
}

.envios{
  margin: 10px;
  border: black 3px solid;
}

.metodosdepago{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.valorimg{
  @include valor(300px, 250px);
  display: flex;
  padding: 15px;
  
}

footer {
  background-color: #3a3548;
  color: goldenrod;
  margin-bottom: 0;
}

.pelucheLightyear{
  margin-bottom: 357px;
  margin-top: 0px;
  margin-left: 20px;
}

.ligthy{
  margin-bottom: 25px;
  margin-top: 10px;
}

.footer {
  color: goldenrod;
  margin-bottom: 0;
}

.parrafo, .parrafo2 {
  @extend .Letras;
  border: 8px solid goldenrod;
  margin-bottom: 8px;
}

.section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mapa{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

@media (min-width: 500px) {
  nav ul li {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-widht: 769px) {
  header {
    display: flex;
    flex-direction: row-reverse;
  }
  .categorias {
    border: 7px solid goldenrod;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
 
  .categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

}
